<a href="https://colab.research.google.com/github/rajveer2001/Python-zero-to-hero/blob/main/DAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HELLO WORLD")

e = '''hi'''
print(type(e))

print(e)

a = b = c = 10
print(a)
print(b)
print(c)

HELLO WORLD
<class 'str'>
hi
10
10
10

In [ ]:
a = b = c = 10
print(a, end = " ")
print(b, end = ' ')
print(c)

print(a, b, c)

10 10 10
10 10 10

In [ ]:
a, b, c = 10, 20, 30
print(a, b, c)
print(a,b,c)

a = int(input('Enter first value:'))
b = int(input('Enter second value:'))
c = a + b
print(f'sum: {c}')

10 20 30
10 20 30
Enter first value:1
Enter second value:1
sum: 2

In [ ]:
li = [10, 20.5, "hello", 40]
print(li)
print(type(li))
print(li[2])

[10, 20.5, 'hello', 40]
<class 'list'>
hello

In [ ]:
li = [2, 4, 6, 8,]
print(li)

print(1 in li)
print(2 in li)

print(li * 11)

for i in li:
  print(i)

[2, 4, 6, 8]
False
True
[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]
2
4
6
8

In [ ]:
li = [1, 2, 3]
print(li)

li[0] = 20
print(li)

[1, 2, 3]
[20, 2, 3]